@model WebApplication2.Services.Interfaces.CompanyDto?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form method="post">
    <input type="hidden" asp-for="Id"/>
    Name = <input type="text" asp-for="Name"/>
    <button type="submit"> + Submit</button>
</form>